.mySkills {
    display: flex;
    flex-direction: column;

    width: 960px;
    font-family: "Dosis", sans-serif;

    .skillsCards {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
}
