.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    width: 100vw;

    h1 {
        font-size: 300px;
        letter-spacing: 80px;
    }

    h2 {
        font-size: 50px;
        font-weight: 100;
        text-align: center;
        line-height: 80px;
    }

    a {
        color: white;
        background-color: #000;
        font-size: 20px;
        padding: 15px 25px;
        border-radius: 50px;
        margin-top: 100px;
    }
}
