.contactForm {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: calc(100% - 30px);
    padding: 0 15px;
    gap: 20px;

    .copyEmail {
        display: flex;
        align-self: center;
        justify-content: space-between;
        background-color: #000;
        max-width: 500px;
        width: calc(100% - 30px);
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;

        span {
            font-size: 23px;
            color: white;
        }

        i {
            color: white;

            @media (max-width: 345px) {
                display: none;
            }
        }

        @media (max-width: 345px) {
            justify-content: center;

            span {
                font-size: 20px;
            }

            i {
                display: none;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 15px;
        max-width: 530px;
        width: 100%;

        .field {
            display: flex;
            flex-direction: column;
            gap: 7px;

            label {
                font-size: 20px;
            }

            input {
                border-radius: 6px;
                font-size: 16px;
                padding: 12px;
                border: 1px solid rgb(194, 194, 194);
                transition: border-color 0.3s;
            }

            textarea {
                resize: none;
                height: 100px;
                font-family: "Arial";
                font-size: 16px;
                border-radius: 6px;
                padding: 12px;
                border: 1px solid rgb(194, 194, 194);
                transition: border-color 0.3s;
            }
        }

        button {
            align-self: center;
            background-color: #000;
            color: white;
            border: none;
            padding: 15px 25px;
            border-radius: 5px;
            font-size: 16px;
            width: fit-content;
            cursor: pointer;
        }

        .formInvalid {
            border-color: #b71616 !important;
        }
    }
}
