.mySkills {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;

    .skillsCards {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    @media (max-width: 960px) {
        .title {
            padding-left: 15px;
        }
    }
}
