ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

button {
    padding: 0;
}

//
body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    gap: 80px;
}

.title {
    display: flex;
    align-items: end;
    gap: 5px;
    margin-bottom: 20px;

    div {
        background-color: #000;
        height: 25px;
        margin-bottom: 4px;
    }

    div:first-of-type {
        width: 15px;
    }

    div:nth-of-type(2) {
        width: 8px;
    }

    div:last-of-type {
        width: 5px;
    }

    h3 {
        font-size: 28px;
        font-family: "Lato", sans-serif;
        width: fit-content;
    }
}

.subTitle {
    display: flex;
    align-items: center;
    gap: 15px;

    div {
        width: 25px;
        height: 5px;
        background-color: #000;
    }

    h3 {
        align-self: flex-start;
        font-weight: 100;
        font-size: 19px;
        text-align: center;
    }
}

.swal-text {
    font-family: "Lato";
}
