.mySocials {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: calc(100% - 30px);
    padding: 0 15px;

    .socials {
        display: flex;
        gap: 20px;
        height: 240px;

        .leftContent,
        .rightContent {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 50%;

            div,
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #fff;
                width: calc(100% - 40px);
                border-radius: 10px;
                padding: 0px 20px;
                cursor: pointer;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
                transition: all 0.3s;

                &:hover {
                    transform: translateY(-2px);
                }

                span {
                    font-size: 21px;
                }

                @media (max-width: 524px) {
                    justify-content: center;

                    span {
                        display: none;
                    }

                    i {
                        font-size: 36px;
                    }
                }
            }

            .github {
                background-color: #25292e;
                height: 70%;
            }

            .discord {
                background-color: #2d52a9;
                height: 30%;

                span {
                    flex: 1;
                }

                @media (max-width: 600px) {
                    .fa-clipboard,
                    .fa-clipboard-check {
                        display: none;
                    }
                }
            }

            .malt {
                background-color: #fc5757;
                height: 70%;
            }

            .TBO {
                background-color: #1f2e41;
                height: 30%;
            }
        }
    }
}
